@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
	top: 50%;
	height: 217px;
  margin-top: -108.5px;
  left: 50%;
  margin-left: -250px;
  background-color:#48769e;
}

code {
  font-family: 'Courier New', monospace;
}

* {
  transition: 0.3s all;
  user-select: none;
}

.App {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
  background-color: white;
}

.top {
  background: #bee1f9;
  color: #ffffff;
  padding: 10px;
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.task-input {
  margin-top: 10px;
  background-color: #bee1f9;
  display: flex;
  padding: 5px;
  outline: none;
}

.task-input * {
  border-radius: 5px;
}

.task-input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color:  #104486;
  -webkit-text-fill-color: #104486;
}

input {
  -webkit-user-select: text; 
  -moz-user-select: text; 
  -ms-user-select: text; 
  user-select: text;
}

.task-input button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 700;
}
.task-input button:hover{
  background-color: #48769e;
  opacity: 0.7;
  color: white;
}

.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  font-weight: 400;
  background-color: white;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #104486;
}

.task-done {
  background-color: #9acaf327;
}
.task-done  p {
  color: #104486;
}

.action-btn {
  cursor: pointer;
  outline: none !important;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}
.action-btn:active{
  outline: none;
}
.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .App{
    width: 300px;
  } 
  body {
    margin-left: -150px;
  }
}